nav
{
    background-color: #151515;
}

.registro-container
{
}

.Inicio
{
    min-height: 1000px;
    background-image: none;
    background-size: cover;
    color: white;
    background-color: #151515;
}